.profile-card {
  display: flex;         
  align-items: center;   
  padding: 20px;
  background-color: #89b4ed;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);    
  margin: 20px;          
  gap: 20px;             
}


.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 0%;  
  object-fit: cover;   
  border: 1px solid #bfb8b8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info {
  flex-grow: 1; 
}

.profile-name {
  margin: 2px 0 0 0;
  font-size: 24px;
  padding: 4px 8px;
  font-weight: 500;
  color: #111;
}

.profile-title {
  margin: 2px 0 0 0;
  font-size: 20px;
  font-weight: 500;
  padding: 4px 6px;          
  border-radius: 0px;
  color: #007bff; 
}

.profile-message {
  margin: 12px 0 0 0;
  font-size: 18px;
  color: #070606;
  padding: 6px 6px;          
  border-radius: 6px;
}